:root  > * {
  --md-primary-fg-color:        #016ebc;
  --md-primary-fg-color--light: #028bee;
  --md-primary-fg-color--dark:  #013256;
}

.footer-link {
  display: inline-grid;
  place-items: center;
  margin: 15px 10px 10px 15px;
  align-items: center;
  align-self: center;
  gap: 0.5em;
  text-decoration: none;
  font-size: 0.5rem;
  font-weight: 500;
  color: inherit;
}
.footer-link:hover {
  text-decoration: underline;
  background-color: #013256;
  border-radius: 5px;

}

@media print {
  .no-pdf{
    display: none !important;
  }
}